---
import PlantillaBase from '../layouts/PlantillaBase.astro';
import EncabezadoSitio from '../components/sitio/EncabezadoSitio.astro';
import PortadaPropuesta from '../components/propuesta/PortadaPropuesta.astro';
import ContenidoPropuesta from '../components/propuesta/ContenidoPropuesta.astro';
import PieSitio from '../components/sitio/PieSitio.astro';
import { metadatosPagina } from '../data/propuesta';
import '../styles/propuesta.css';
---

<PlantillaBase titulo={metadatosPagina.titulo} descripcion={metadatosPagina.descripcion}>
  <EncabezadoSitio vistaActual="propuesta" mostrarNavegacionSecciones={true} />
  <main id="inicio">
    <PortadaPropuesta />
    <ContenidoPropuesta />
  </main>
  <PieSitio />
</PlantillaBase>
